*{
	margin: 0;
	padding: 0;	
}
body{
	background-color: #ffffff;
    background-image: url('../img/bg_dotted.png');
}
#main{

}
#content-luar {
    width: 37%;
    line-height: 2.5em;
    margin: 0 auto;
    color: #ffffff;
   	position: relative;
	top: 120px;
}
.login {
    background-color:  #41454E;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
#username,#password {
    border: medium none;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 160%;
}
.alert-block {
    color: #ff1111;
    font-size: 12px;
    font-style: italic;
}
#submit {
    background: transparent;
    border: none;
    color: #fff;
    padding-left: 8px;
    padding-right: 8px;
}
#submit:hover{
    text-decoration: underline;
    cursor: pointer;
}
#footer {
	top: 120px;
    line-height: 30px;
    text-align: center;
    font-size: 11px;
    position: relative;
    font-style: italic;
    }